<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
</head>
<body>
	<section layout:fragment="content" class="content">
		<div class="info-box box-size-L">
			<table class="tg-about">
				<thead>
				<tr>
					<th class="tg-about-static">Date</th>
					<th class="tg-about-description">Description</th>
					<th class="tg-about-static">Status</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="note : ${progressNotes}">
					<td class="tg-about-static" th:text="${note.date}">-</td>
					<td class="tg-about-description" th:text="${note.description}">-</td>
					<td class="tg-about-static">
						<div th:switch="${note.statusInfo.description}">
							<p th:case="'Completed'" style="color: green; weight: bold" th:text="${note.statusInfo.description}">description</p>
							<p th:case="'Waiting'" style="color: blue; weight: bold" th:text="${note.statusInfo.description}">description</p>
							<p th:case="'In progress'" style="color: orangered; weight: bold" th:text="${note.statusInfo.description}">description</p>
							<p th:case="*">test</p>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</section>
</body>
</html>