<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
</head>
<body>
	<section layout:fragment="content" class="content">
		<h1>Welcome!</h1>
		<div class="level-1 plaintext">
			<p>Welcome <span th:text="${loginout} ? ${loginout} : 'stranger'"></span> to my website. Here you can follow my progress in learning and developing as a Java developer. Currently, the
			   project of this application is based on: Java, Spring, JPA/Hibernate, Thymeleaf. In the near future, it will be expanded to include Angular.js and RESTful API.</p><br>
			<p>You can find current works and plans in the 'About' tab.</p>
		</div>
	</section>
</body>
</html>