<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">
	<meta charset="UTF-8">
	<title>Skate </title>
	<link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
	<div id="wrapper">
		<header th:replace="~{fragments/header :: header}">
		</header>
		<div class="space"></div>
		<div th:replace="~{fragments/navigation :: navigation}">
		</div>
		<div class="space"></div>
		<div layout:fragment="content" class="content">
		</div>
		<div class="space"></div>
		<div th:replace="~{fragments/footer :: footer}">
		</div>
	</div>
</body>
</html>