<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
</head>
<body>
	<section layout:fragment="content" class="content">
		<div class="info-box box-size-M">
			<table class="info-table">
				<tr>
					<th class="info-table">Username:</th>
					<td class="info-table">
						<span th:text="${user?.username} ?: '-'"></span>
					</td>
				</tr>
				<tr>
					<th class="info-table">Email:</th>
					<td class="info-table">
						<span th:text="${user?.email} ?: '-'"></span>
					</td>
				</tr>
			</table>
		</div>
		<div class="info-box box-size-M">
			<table class="info-table">
				<tr>
					<th class="info-table">Full name:</th>
					<td class="info-table">
						<span th:text="${userDetail?.fullname} ?: '-'"></span>
					</td>
				</tr>
				<tr>
					<th class="info-table">Address:</th>
					<td class="info-table">
						<span th:text="${userDetail?.address} ?: '-'"></span>
					</td>
				</tr>
				<tr>
					<th class="info-table">City:</th>
					<td class="info-table">
						<span th:text="${userDetail?.city} ?: '-'"></span>
					</td>
				</tr>
				<tr>
					<th class="info-table">State:</th>
					<td class="info-table">
						<span th:text="${userDetail?.state?.full} ?: '-'"></span>
					</td>
				</tr>
				<tr>
					<th class="info-table">Zip:</th>
					<td class="info-table">
						<span th:text="${userDetail?.zip} ?: '-'"></span>
					</td>
				</tr>
				<tr>
					<th class="info-table">Birth date:</th>
					<td class="info-table">
						<span th:text="${userDetail?.birthDate} ?: '-'"></span>
					</td>
				</tr>
				<tr>
					<th class="info-table">Phone number:</th>
					<td class="info-table">
						<span th:text="${userDetail?.phoneNumber} ?: '-'"></span>
					</td>
				</tr>
			</table>
			<a th:href="@{/user/edit}">
				<button class="button" value="Edit">Edit</button>
			</a>
		</div>
	
	</section>
</body>
</html>